.header {
  text-align: center;
}

.container{
  text-align: center;
}

.activity {
  background: #999999;
  border: 2px solid #000000;
  display: inline-block;
  font-size: 40px;
  margin: 3px;
  padding: 6px 12px;
  text-align: center;
  width: 33%;
}

.icon {
  float: left;
}

.counter {
  float: right;
}

button {
  display: block;
  font-size: 16px;
  margin: 15px auto;
  padding: 15px 32px;
}
